<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-lg-8">
        <div class="form-group">
            <div class="col-xs-*">
                <label>Email ID:</label>
                <input type="email" class="form-control" id="emailId" placeholder="Enter your email ID"><br>
                <label>Confirm Email ID:</label>
                <input type="email" class="form-control" id="emailId" placeholder="Re-type your email ID">
            </div>
        </div>
        <button type="button" class="btn btn-primary" style="width:40%;">Submit</button><br>
</div>
</div>
<br>