<div class="container-fluid">
  <div class="col-lg-6">
    <div class="jumbotron">
      <h1>AWNICS</h1>
      <p><strong> Awnics Technologies Pvt Ltd. </strong><br>Our Journey began when three different minds came together to build this unique experience
        with one focus. Our driving force has been the need to innovate and to enhance Quality of Solution and User experience.
      </p>
      <ul> <b>Pillars of Awnics Technologies Pvt Ltd:</b>
        <li>Rahul Vishwakarma</li>
        <li>Yash Kumar</li>
        <li>Ashutosh Jha</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="jumbotron">
      <h1>MESOFRE</h1>
      <p>
        A map based medical service application that can request, map and monitor the status. An integrated application focused towards the healthcare sector. It will be a single channel for all the medical services that may be needed in case of emergency or regular consultations. Such a connected system will help the service providers to connect with the patients and respond pro-actively based on the level of emergency.
      </p>
    </div>
  </div>
</div>